@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: url("./assets/background.svg") no-repeat center/cover;
}

a {
  color: inherit;
  text-decoration: none;
}

.price {
  color: limegreen;
}

a:active {
  color: inherit;
}

:root {
  --color-primary: #8D63D7;
  --color-accent: #ffca28;
}

table {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

mat-card {
  margin-bottom: 16px;
}

.no-items {
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
}

.no-items::after {
  content: ' 🕸'
}
