.form {
  display: flex;
  flex-direction: column;

  margin: 20px;
}

.button {
  margin-top: 12px;
}

.already-logged-in {
  padding: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.already-logged-in-button {
  margin: 8px;
}
