<mat-card>
  <mat-card-title>Events</mat-card-title>
</mat-card>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table" multiTemplateDataRows>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let event"> {{event.name}} </td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef>City</th>
    <td mat-cell *matCellDef="let event"> {{event.city}} </td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef="let event"> {{event.address}} </td>
  </ng-container>

  <ng-container matColumnDef="musicType">
    <th mat-header-cell *matHeaderCellDef>Music type</th>
    <td mat-cell *matCellDef="let event"> {{event.musicType}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let event"> {{event.date}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell class="actions" *matCellDef="let event">
      <button mat-raised-button color="primary" *ngIf="authority === 'user'" [routerLink]="[event.id, 'book-ticket']">Book</button>
      <button mat-raised-button color="accent" *ngIf="authority === 'admin'">Edit</button>
      <button mat-raised-button color="warn" *ngIf="authority === 'admin'">Cancel</button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let event" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail"
           [@detailExpand]="event == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-description">
          {{event.description}}
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let event; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === event"
      (click)="expandedElement = expandedElement === event ? null : event">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
