<mat-sidenav-container class="mat-sidenav-container">
  <mat-sidenav class="mat-sidenav mat-background-primary" mode="side" opened>
    <button class="logo" mat-button color="accent" [routerLink]="['/']">MUSIVA</button>
    <mat-nav-list class="mat-nav-list">
      <a class="button-link" mat-list-item [routerLink]="['/app/events']">Events</a>
      <a class="button-link" mat-list-item [routerLink]="['/app/tickets']">Tickets</a>
      <div *ngIf="authority === 'admin'">
        <a class="button-link" mat-list-item [routerLink]="['/app/users']">Users</a>
      </div>

      <div *ngIf="authority === 'user'">
        <a class="button-link" mat-list-item [routerLink]="['/app/profile']">Profile</a>
      </div>
    </mat-nav-list>
    <button class="logout" mat-raised-button color="warn" (click)="logout()">Logout</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
