<h1 mat-dialog-title>Please input payment information</h1>
<form>
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Card number</mat-label>
      <input matInput required placeholder="1234 1234 1234 1234">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Expiration date</mat-label>
      <input matInput required placeholder="01/10" pattern="[0-9]{2}/[0-9]{2}">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>CCV code</mat-label>
      <input matInput required placeholder="000" pattern="[0-9]{3}">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="confirm()">Confirm</button>
  </mat-dialog-actions>
</form>
