<mat-card *ngIf="authority === 'user'" class="title-card">
  <mat-card-title>Hello {{firstName}},</mat-card-title>
  <mat-card-content class="title-card-text">
    <h3>See all of your upcoming events below or go to Events to book more!</h3>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="authority === 'admin'" class="title-card">
  <mat-card-title>Welcome {{firstName}},</mat-card-title>
  <mat-card-content class="title-card-text">
    <h3>Create and edit events!</h3>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="authority === 'user'">
  <mat-card-title>Upcoming events</mat-card-title>

  <mat-card-content *ngIf="!dataSource.length || loading">
    <div class="no-items" *ngIf="!dataSource.length">No upcoming events, go ahead and book some!</div>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </mat-card-content>

</mat-card>
<table *ngIf="dataSource.length" mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
  <ng-container matColumnDef="event.name">
    <th mat-header-cell *matHeaderCellDef>Event</th>
    <td mat-cell *matCellDef="let ticket"> {{ticket.event.name}} </td>
  </ng-container>

  <ng-container matColumnDef="event.date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let ticket"> {{ticket.event.date}} </td>
  </ng-container>

  <ng-container matColumnDef="row">
    <th mat-header-cell *matHeaderCellDef>Row</th>
    <td mat-cell *matCellDef="let ticket"> {{ticket.row}} </td>
  </ng-container>

  <ng-container matColumnDef="col">
    <th mat-header-cell *matHeaderCellDef>Column</th>
    <td mat-cell *matCellDef="let ticket"> {{ticket.col}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell class="price" *matCellDef="let ticket"> {{ticket.price}}PLN</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

