.main {
  width: 80vw;
  margin: 30vh auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card {
  margin: 20px;
}

.card-small {
  height: 200px;
}

.nav {
  position: fixed;
  top: 0;
  padding: 8px;
}

.button {
  font-size: 2em;
}

.already-logged-in {
  padding: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.already-logged-in-button {
  margin: 8px;
}

